# File type ignores
*.png
*.tar
*.tar.*
*.zip
*.log
*.out

# General File ignores
.Xauthority
.bash_history
.cache/
.local/
.log/
.ssh/
.xsession-errors*
.gitconfig

# Specific ignores, personal to me.
.config/Cadence/
.config/Code/
.config/Epic/
.config/GIMP/
.config/PulseEffects/
.config/REAPER/
.config/QtProject.conf
.config/StardewValley/
.config/cef_user_data/
.config/dconf/
.config/falkTX/
.config/lutris/
.config/jack/
.config/gtk-2.0/
.config/unity3d/
.config/openmw/
.config/pulse/
.config/htop/
.config/discord/
.config/desmume/
.config/nvim/plugged/
.config/mpd/*
!.config/mpd/mpd.conf
.config/vifm/*
!.config/vifm/vifmrc
.mozilla/
.mono/
.nv/
.pulse/
.renpy/
.pki/
.gnupg/
.davfs2/
.steam/
.wine/
.w3m/
.oracle_jre_usage/
.paradoxinteractive/
.vbam/
.vscode/
.cddbslave/
.gdmap/

.config/krita*
.jackdrc
.steam*
.pulse-cookie
Bitwig Studio/
Downloads/
Files/
Lilian/
Pictures/
VPN/

.BitwigStudio
.asoundrc
.nvidia-settings-rc
