# File type ignores
*.png
*.tar
*.tar.*
*.zip
*.log
*.out

# General File ignores
.Xauthority
.bash_history
.cache/
.local/
.log/
.ssh/
.xsession-errors*

# Specific ignores, personal to me.
.config/Cadence/
.config/Epic/
.config/GIMP/
.config/PulseEffects/
.config/QtProject.conf
.config/StardewValley/
.config/cef_user_data/
.config/falkTX/
.config/unity3d/
.config/openmw/
.config/pulse/
.config/htop/
.config/discord/
.config/desmume/
.mozilla/
.mono/
.nv/
.pulse/
.renpy/
.pki/
.gnupg/
.davfs2/
.steam/
.wine/
.w3m/
.oracle_jre_usage/
.paradoxinteractive/
.vbam/
.vscode/
.cddbslave/

.config/krita*
.jackdrc
.steam*
.pulse-cookie
Bitwig Studio/
Downloads/
Files/
Lilian/
Pictures/
VPN/

.BitwigStudio
.asoundrc
.nvidia-settings-rc
